@-webkit-keyframes opacity-animation {
  0% {
    opacity: 1; }
  100% {
    opacity: .3; } }

@-ms-keyframes opacity-animation {
  0% {
    opacity: 1; }
  100% {
    opacity: .3; } }

@keyframes opacity-animation {
  0% {
    opacity: 1; }
  100% {
    opacity: .3; } }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15); } }

@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15); } }

@-ms-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15); } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15); } }

@-webkit-keyframes up-down {
  0% {
    top: 0; }
  100% {
    top: -9px; } }

@keyframes up-down {
  0% {
    top: 0; }
  100% {
    top: -9px; } }

ul {
  padding: 0;
  list-style: none; }

.section-title {
  margin-bottom: 100px; }
  .section-title h2 {
    font-family: Helvetica, sans-serif;
    font-size: 40px; }
  .section-title p {
    color: lightgray;
    font-size: 15px;
    font-style: italic; }

.header {
  position: relative;
  text-align: center; }
  .header .header-content {
    margin-top: 150px; }
    .header .header-content h1 {
      font-family: "Helvetica", sans-serif;
      margin: 0;
      font-weight: 400; }
    .header .header-content p {
      margin: 0;
      color: lightgray;
      font-size: 15px;
      font-style: italic; }
    .header .header-content a {
      color: black;
      text-transform: uppercase;
      display: inline-block;
      margin-top: 40px;
      font-size: 15px;
      padding: 15px 40px;
      border: 1px solid black;
      font-family: "Montserrat", sans-serif; }
  .header .menu {
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .header .menu li {
      padding-top: 20px; }
      .header .menu li.active a {
        color: black; }
      .header .menu li a {
        font-family: "Roboto", sans-serif;
        color: #989696; }
    .header .menu .logotype {
      padding-top: 0;
      background-color: black; }
      .header .menu .logotype a {
        font-family: Roboto, sans-serif;
        font-weight: bold;
        display: block;
        padding: 10px 20px;
        color: white;
        font-size: 35px; }
  .header .dots {
    position: absolute;
    bottom: 50px;
    right: 50%;
    margin: 0 auto; }
    .header .dots .dot {
      margin-top: 10px;
      background-color: gray;
      width: 10px;
      height: 10px;
      border-radius: 50%; }
      .header .dots .dot:nth-child(1) {
        animation: opacity-animation .9s ease-in-out infinite alternate-reverse; }
      .header .dots .dot:nth-child(2) {
        animation: opacity-animation 1.1s ease-in-out infinite alternate-reverse; }
      .header .dots .dot:nth-child(3) {
        animation: opacity-animation 1.3s ease-in-out infinite alternate-reverse; }

.about {
  position: relative;
  background-color: #1d1d1d;
  min-height: 500px;
  color: white; }
  .about:before {
    z-index: 100;
    content: '';
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: -2px;
    background: url("../img/Buildings__Black.png") -208px no-repeat;
    -webkit-background-size: cover;
    background-size: cover; }
  .about .left,
  .about .right {
    padding: 60px; }
    .about .left h2.year,
    .about .right h2.year {
      font-size: 40px; }
    .about .left p,
    .about .right p {
      color: #989696; }
  .about .left {
    border-right: 5px solid white;
    text-align: right;
    height: 1000px; }
    .about .left .item:nth-last-child(1) {
      margin-top: 250px; }
  .about .right {
    margin-top: 200px; }
    .about .right .item:nth-last-child(1) {
      margin-top: 250px; }
  .about .small-circle:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%; }
  .about .big-circle:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%; }
  .about .year-2011:after {
    top: 70px;
    right: -17px;
    animation: pulse .9s ease-in-out infinite alternate; }
  .about .year-2012:after {
    top: 70px;
    left: -17px;
    animation: pulse 1.2s ease-in-out infinite alternate; }
  .about .year-2013:after {
    top: 437px;
    right: -27px;
    animation: pulse 2s ease-in-out infinite alternate; }
  .about .year-2014:after {
    top: 448px;
    left: -17px;
    animation: pulse 1s ease-in-out infinite alternate; }

.team {
  padding: 100px 0;
  height: 500px;
  text-align: center; }
  .team .left img,
  .team .right img,
  .team .middle img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%); }
  .team .left h3,
  .team .right h3,
  .team .middle h3 {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 0; }
  .team .left p,
  .team .right p,
  .team .middle p {
    color: #989696; }
  .team .left,
  .team .right {
    padding: 100px 0; }

.blog {
  color: white;
  background-color: #181818;
  clip-path: polygon(0% 19%, 100% 12%, 100% 92%, 0% 100%);
  padding-top: 300px;
  text-align: center; }
  .blog .wrap {
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative; }
    .blog .wrap .pic i {
      padding: 30px;
      font-size: 40px;
      border: 3px solid white;
      border-radius: 50%;
      margin-bottom: 30px; }
    .blog .wrap p {
      color: gray; }
    .blog .wrap:after {
      z-index: -1;
      content: '';
      position: absolute;
      right: 0;
      bottom: -150px;
      width: 100%;
      height: 100%;
      background: url("../img/blog.png") no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      transform: rotate(4deg) scale(0.585) skew(9deg) translate(-23px); }

.btn-blog {
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: white;
  margin: 200px auto;
  transition: all 0.3s ease; }
  .btn-blog:hover {
    background-color: lightgray; }
  .btn-blog a {
    font-size: 15px;
    padding: 20px;
    width: 100%;
    display: block;
    color: black; }
    .btn-blog a:hover {
      text-decoration: none; }

.contact {
  padding: 100px 0; }
  .contact .section-title {
    text-align: center; }
  .contact .info {
    text-align: center; }
    .contact .info .icon {
      font-size: 40px; }
  .contact .form {
    width: 500px;
    margin: 100px auto 0; }
    .contact .form input, .contact .form textarea {
      text-align: center;
      margin-bottom: 25px;
      width: 100%;
      display: block;
      outline: none; }
    .contact .form textarea {
      overflow: hidden;
      text-align: left; }
    .contact .form input, .contact .form textarea {
      padding: 10px; }
    .contact .form input[type="submit"] {
      background-color: black;
      color: white;
      border: none;
      cursor: pointer;
      transition: all 0.4s ease; }
      .contact .form input[type="submit"]:hover {
        background-color: #353535; }

footer {
  text-align: center;
  padding-bottom: 50px; }
