
$maw: 940px;

$Monteserrat: 'Montserrat', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
$red: #fa5c65;
$grey: #314a5b;
$darkGrey: #263742;
$lightGray: #9aa0ab;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}


%flex {
  display: flex;
flex-wrap: wrap;
}

.wr {
  max-width: $maw;
  margin: 0 auto;
  position: relative;
}

%ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.red {
  color: $red;
}

.more {
  display: inline-block;
  margin-top: 30px;
  text-decoration: none;
  color:$red;
  font-family:$Monteserrat;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;

  &:hover {
    color: #FA5C00;
    text-decoration: underline;
  }
}