@charset "UTF-8";
@import "fonts";
@import "settings";

section#top {

  position: relative;
  height: 100vh;
  background: no-repeat center 0 / cover;
  background-attachment: fixed;

  & > .wr {
    @extend %flex;
    //align-items: center;
    height: 100%;

    header {
      @extend %flex;
      justify-content: space-between;
      flex-basis: 100%;
      align-self: flex-start;

      .logo {
        display: block;
        width: 140px;
        height: 74px;
        background: url("../images/logo.png") no-repeat;
      }

      nav {
        ul {
          @extend %ul, %flex;
          margin-top: 25px;

          li {
            margin-left: 30px;

            a {
              font-family: $Monteserrat;
              color: $darkGrey;
              font-size: 14px;
              font-weight: 400;
              text-transform: uppercase;
              text-decoration: none;

              &:hover {
                color: $red;
              }
            }

            i {
              font-size: 18px;
              margin-left: 20px;
            }

          }
        }
      }
    }

    .sloganCont {
      max-width: 58%;

      h1 {
        font-family: $Monteserrat;
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        color: $grey;
      }

      h4 {
        font-family: $OpenSans;
        color: $grey;
        font-size: 20px;
        font-weight: 400;
        margin: 20px 0 35px 0;
      }

      .btn {
        display: block;
        text-decoration: none;


        span {
          color: white;
          font-family: $OpenSans;
          font-size: 15px;
          font-weight: 700;
          padding: 25px 35px;
          background-color: $red;
          border-radius: 7px;
          text-transform: uppercase;

          &:hover {
            background: #FA5C00;
          }
        }
      }

    }
  }
}

section#snippets {
  position: relative;

  & > .wr {

    & > ul {
      @extend %ul, %flex;
      margin: 80px 0;

      li {
        width: (100% / 3);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-right: 55px;

        h3 {
          font-family: $Monteserrat;
          font-size: 26px;
          font-weight: 700;
          text-transform: uppercase;
          color: $grey;
        }
        .descr {
          color: $lightGray;
          font-weight: 400;
          font-size: 15px;
          font-family: $OpenSans;
        }

      }
    }
  }
}

section#portfolio {
  & > .wr {
    @extend %flex;
    justify-content: space-between;

    & > .col {
      width: 49%;

      &:first-of-type {
        img {
          min-width: 100%;
        }
      }
      &:nth-of-type(2) {
        align-self: center;
      }

      h2 {
        font-family: $Monteserrat;
        color: $grey;
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
      }

      h4 {
        color: $grey;
        font-family: $OpenSans;
        font-size: 16px;
        font-weight: 400;

      }

      .descr {
        color: $lightGray;
        font-weight: 400;
        font-size: 15px;
        font-family: $OpenSans;
      }

    }
  }
}

section#team {
  & > .wr {
    & > .row1 {
      h2 {
        font-family: $Monteserrat;
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
        color: $grey;
        margin: 0;
      }

      h3 {
        font-family: $OpenSans;
        font-size: 16px;
        color: $lightGray;
        font-weight: 400;
        margin: 0;
      }

    }
    & > .row2 {

      @extend %ul, %flex;
      margin-top: 30px;

      li {
        @extend %flex;
        width: (100% / 3);
        padding-right: 35px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        .col1 {
          width: 128px;
          height: 128px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          background: no-repeat center / cover;
        }

        .col2 {
          width: calc(100% - 128px);
          padding-left: 20px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;

          h3 {
            color: $grey;
            font-family: $Monteserrat;
            font-size: 22px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0;
          }
          h4 {
            color: $red;
            font-size: 14px;
            font-weight: 400;
            font-family: $OpenSans;
            margin: 0;
          }
          .descr {
            color: $lightGray;
            font-weight: 400;
            font-size: 15px;
            font-family: $OpenSans;
            margin-top: 10px;
          }
        }
      }

    }

    & > .row3 {
      float: right;
    }
  }
}

footer {
  @extend .wr, %flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  margin-top: 80px;
  border-top: 1px solid #e6eaed;

  .col1 {
    a {
      display: inline-block;
      color: $lightGray;
      font-size: 20px;
      margin-right:20px;
      &:hover {
        color: $red;
      }
    }
  }
  .col2{
    font-family:$OpenSans;
    font-size: 15px;
    font-weight: 700;
  }

}


