@import "libs";
@import "fonts";

body{
  background: url("../img/bg.png") repeat;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: red;
  font-size:18px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}

a{
  text-decoration: none;
}
.menu-active{
  display: block !important;
}

.header{
  padding-top: 100px ;
  background: url("../img/header-bg.png") bottom center no-repeat;
  margin-bottom: 250px;
  height:512px;
  width: 100%;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
}

.grid{
  display: grid;
}




.nav{
  position: fixed;
  z-index: 1000;
  top: 0;
  height: 45px;
  width: 100%;
  background-color: #db3534;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);

  .menu{
    display: none;
    text-transform: uppercase;
    width: 200px;
    background-color: rgba(0,0,0, .8);

    z-index: 20;
    position: absolute;


    top: 61px;
    padding-bottom:20px;
    transition: display ease 1s;

    li{
      padding:7px 20px;
      a{
        font-family: HelveticaNeueLight, sans-serif;
        text-decoration: none;
        font-size: 14px;
        color: white;
        &:hover{
          color: red;
        }
      }
    }

    &::before{
      content: '';
      width: 0;
      height: 0;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 14px solid rgba(0,0,0, .8);
      position: relative;
      top: -30px;
      left: 7px;
    }
  }

  .nav-grid{
    padding-top: 7px;
    display: grid;
    grid-template-columns: 1fr 150px 70px 270px;
    grid-template-rows: auto;
    grid-column-gap: 30px;
  }

  .nav-bucket{
    .bucket{
      padding-right: 6px;

      .item-icon{
        display: none;
      }
    }

    .bucket-info{
      display: inline-block;
      color: white;
      font-family: HelveticaNeueLight, sans-serif;
      font-size:12px;
      line-height:15px;
    }
  }

  .i18{
    display: flex;

    justify-content: space-between;

    .lang{
      display: inline-block;
      width: 30px;
      line-height:30px;


      height: 100%;
      background-color: #992524;

      box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.3);
      transition: all ease 0.8s;
      a{
        font-family: HelveticaNeueLight, sans-serif;
        display: block;
        width: 100%;
        height: 100%;
        color: red;
        margin-left:6px;

        &.active{
          color: white;
        }
      }


      &:hover{

        box-shadow: inset 0px 0px 5px 4px rgba(0,0,0,0.3);
        a{
          color: yellow;
        }
      }

    }
  }

  .nav-search{


    form{
      position: relative;

      input[type="text"]{

        color: white;
        font-family: HelveticaNeueLight, sans-serif;
        font-size:14px;
        width: 100%;
        padding: 8px;
        border: none;
        outline: none;
        background-color: #992524;
        box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.3);
      }

      button{
        cursor: pointer;
        position: absolute;
        border: none;
        background-color: transparent;
        outline: none;
        color: red;
        top: 8px;
        right: -8px;
      }
    }
  }
}

.company-info{
  margin-top: 35px;
  margin-bottom: 65px;


  .grid-container{
    display: grid;
    grid-template-columns: 200px 1fr 200px;

    .company-info-left{
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 6px;
      grid-template-rows: 65px;


      .sign-in{
        a{
          font-family: HelveticaNeue, sans-serif;
          color: white;

          &:hover{
            color: red;
          }
        }
        a.log-in-btn{
          font-size: 15px;
        }

        a.sign-in-btn{
          font-size: 12px;
          text-decoration: underline;
        }

        ul{
          margin-top: 3px;
          li{
            display: inline-block;
          }
        }

      }

      .main-bucket{
        background-color: #d03231;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);


        img{
          display: inline-block;
          padding: 12px 7px 0 ;
        }
        .text{
          margin-left: 15px;
          text-align: center;
          display: inline-block;
          color: white;

            h5{
              font-family: HelveticaNeueBold, sans-serif;
              font-weight: 700;
              font-size: 20px;
              margin-bottom: 5px;
            }

            p{
              line-height: 15px;
              font-size: 12px;
              font-family: HelveticaNeueLight,sans-serif;
              font-weight: 400;

              span{
                font-size:14px;
                font-weight: 600;
              }
            }


        }
      }
    }
    .logo{
      text-align: center;
    }


  }
}
.company-info-right{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65px;
  grid-row-gap: 5px;

  .contacts{
    font-size: 17px;
    text-align: center;
    color: white;
    font-family: HelveticaNeueLight, sans-serif;
    span{
      font-size: 22px;
      padding:2px 0px;
      font-weight: bold;
      display: block;
      font-family: HelveticaNeue, sans-serif;
    }
    p{
      margin: 0;
      padding: 0;
      line-height: 0;
    }
  }

  .callback{
    cursor: pointer;
    padding-top:6px;
    height: 70px;
    text-transform: uppercase;
    color: white;
    background-color: #CA373A;
    text-align: center;
    font-family: HelveticaNeueBold, sans-serif;
    font-weight: bold;
    font-size: 33px;
    line-height: 30px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
    span{
      font-size:27px;
    }
  }

}


.doors{

  .container{
    width: 1300px;
  }


  .grid-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 130px;
    grid-template-rows: 370px ;
  }

  .door-item{
    text-align: center;
    img{
      box-shadow: 0px -1px 8px 4px rgba(0, 0, 0, 0.3);
      margin-bottom: 20px;
    }

    .title{
      background: url("../img/header-bg.png") center top;
      -webkit-background-clip: text;
      color: transparent;
      text-align: center;
      text-transform: uppercase;
      font-family: BebasNeueBold, sans-serif;
      h3{
        font-size: 61px;
        font-weight: bold;
      }
      span{
        font-size: 22px;
      }
    }
  }
}


.banner{
  margin-bottom: 65px;
}
.banner-carousel{
  background-color: #fff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
  padding: 10px;
  height: 350px;

  .slick-item{
    text-align: center;
    height: 330px;
    background-size: cover;

    h2{
      margin-top: 170px;
      color: #fff;
      font-size: 80px;
      font-family: HelveticaNeue, sans-serif;
      text-shadow: 1px 2px 5px black;
      font-style: italic;
    }
  }


  .slide-1{
    background: url("../img/slick1.png") 70% 70%;
  }
}

.content{
  position: relative;
  .grid-container{
    display: grid;
    grid-template-columns: 170px 1fr 170px;
    grid-column-gap: 30px;


    .content-title{
      text-align: center;
      grid-column: 1 / -1;
      background: url("../img/header-bg.png" ) 40% top;
      -webkit-background-clip: text;
      color: transparent;
      margin-bottom: 50px;

      h1{
        font-family: BebasNeueBold,sans-serif;
        font-size:55px;
      }
    }

    .sidebar{
      .menu{
        a{
          font-family: HelveticaNeue, sans-serif;
          text-transform: uppercase;
          font-size: 15px;
          line-height: 30px;
          color: #438d42;

          &:hover{
            color: red;
          }
        }
      }

      .sandwich-menu-2{
        display: none;
      }

    }

    .about-article{
      z-index: 100;
      font-size: 18px;
      padding: 40px 35px;
      line-height: 24px;
      font-family: HelveticaNeueLight, sans-serif;
      text-indent: 20px;

      background: url("../img/lines.png") repeat;
      border: 10px solid #FFF;
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.75);

      p{
        margin-bottom: 20px;
      }
    }

    .right-aside{
      grid-template-rows: 71px 140px 177px 60px 151px 84px;
      .contacts{
        color: black;
        font-size: 17px;
        line-height: 22px;
        .mob{
          font-size: 21px;
        }
      }
      .callback{
        padding: 10px 5px 5px ;
        margin:10px 0 40px 0;
      }

      .banners{
        img{
          width: 100%;
        }
      }
    }
  }
  .footer{
    width: 100%;
    position: absolute;
    top: 85%;
    height: 315px;
    background: url("../img/footer-bg.png") ;
    background-size: cover;

    .footer-content{
      vertical-align: middle;
      line-height: 45px;
      margin-top: 225px;
      background-color: red;
      height: 45px;

      box-shadow: inset 1px -1px 19px 13px rgba(0, 0, 0, 0.3);

      .copy{
        display: inline-block;
        font-family: HelveticaNeueLight, sans-serif;
        color: rgba(255,255,255, 0.5);
      }


      .footer-menu{
        display: inline-block;
        float: right;
        li{
          display: inline-block;
          margin-left: 10px;

          a{
            font-family: HelveticaNeueLight, sans-serif;
            color: white;

            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}


@import "media";
