// sticky

body{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    color: #353535;
}

.sticky{
    position: relative;
    z-index: 1;
    background: rebeccapurple;
    color: white;
    padding: 10px 30px;

}

.sticky.fixed {
    position: fixed;
    top: 0;
    width:100%;
    box-sizing: border-box;
    z-index: 0;
}

.sticky.fixed.absolute {
    position: absolute;
}

#demo{
    margin: 100px 0;
    padding: 30px 20px;
    text-align: center;

    color: white;
    background-color: mediumpurple;
    font-weight: bold;
    font-size: 50px;
}

p{
    margin:30px;
}