body{
    padding: 50px 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    color: #353535;
    background:url("../img/bg.jpg")  repeat-y  ,#dedede;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

h1#demo{
    padding: 1px 20px;
    color: white;
    background-color: red;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}


div{

    h1{
        border-radius: 8px;
        padding: 10px;
        background-color: #dedede;
    }

    p{
        padding: 10px;
    }

    margin-bottom: 20px;

    background-color: #dedede;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

