@import "libs";

$main-green: #CFF05D;
$main-light-pink: #AB8BA0;
$gift-line: #9CF4D7;

body {

  color: #fff;
  background-color: black;
}

.colored-text {
  color: $main-green;
}

a {

  color: #fff;
  text-decoration: none;
  transition: 1s all ease;

  &:hover {
    color: #CFF05D;
  }

}

.my-btn {
  display: block;
  position: relative;
  width: 250px;
  height: 71px;
  line-height: 71px;

  font-family: BebasNeue, sans-serif;
  font-size: 25px;
  color: black;
  text-indent: 72px;
  background-color: $main-green;

  transition: font-size 0.4s, box-shadow 0.4s;

  &:hover {
    color: black;
    font-size: 21px;
    box-shadow: inset 1px 1px 25px rgba(0, 0, 0, 1);
  }

  .black-arrows {
    display: flex;
    width: 36px;
    justify-content: space-between;

    position: absolute;
    top: 29px;
    left: 20px;

    > img:nth-child(1) {
      -webkit-animation: opacity-animation .8s ease-in-out infinite alternate;
      animation: opacity-animation .8s ease-in-out infinite alternate;
    }

    > img:nth-child(2) {
      -webkit-animation: opacity-animation .7s ease-in-out infinite alternate;
      animation: opacity-animation .7s ease-in-out infinite alternate;
    }

    > img:nth-child(3) {
      -webkit-animation: opacity-animation .6s ease-in-out infinite alternate;
      animation: opacity-animation .6s ease-in-out infinite alternate;
    }
  }

}

.big-triangle {
  display: block;
  border: 25px solid transparent;
  border-top: 35px solid $main-light-pink;
}

.wrap {
  min-width: 1200px;
  background-image: url("../img/background.jpg");
  -webkit-background-size: cover;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;

  //HEADER START
  .header {
    margin-top: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 86%;

    .nav {
      display: flex;
      justify-content: space-between;
      width: 52%;

      a {
        font-family: "Proxima", sans-serif;
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
      }
    }

  }
  //HEADER END

  //INTRO START
  .intro {
    display: flex;
    flex-direction: column;
    width: 1150px;
    margin-top: 95px;

    .wr {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      height: 463px;

      .text {
        font-family: "BebasNeue", sans-serif;
        font-size: 100px;
        font-weight: 600;
        text-transform: uppercase;
        .colored-text {
          font-size: 100px;
          color: $main-light-pink;
        }
      }

      .my-btn {
        margin-top: 40px;
      }
    }

    .big-triangle {
      margin-top: 81px;
      align-self: center;

      -webkit-animation: pulse .9s ease-in-out infinite alternate,
      opacity-animation .9s ease-in-out reverse infinite alternate-reverse;

      -moz-animation: pulse .9s ease-in-out infinite alternate,
      opacity-animation .9s ease-in-out reverse infinite alternate-reverse;

      animation: pulse .9s ease-in-out infinite alternate,
      opacity-animation .9s ease-in-out infinite alternate-reverse;
    }
  }
  //INTRO END

  .instructions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 1150px;
    padding-bottom: 120px;
    margin-top: 45px;
    margin-bottom: 30px;

    .content {
      display: flex;
      background-color: #fff;
      align-items: center;
      justify-content: space-around;
      height: 321px;

      .box {

        position: relative;
        width: 205px;
        height: 190px;
        color: black;
        font-family: BebasNeue, sans-serif;
        font-size: 50px;

        > div {
          margin-top: 20px;
        }

        .arrows {
          position: absolute;
          top: -10px;
          left: -30px;

          -webkit-animation: opacity-animation .8s ease-in-out infinite alternate;
          animation: opacity-animation .8s ease-in-out infinite alternate;
        }

        &-1 {
          background: url("../img/1.png") no-repeat center center;
          background-size: contain;
        }
        &-2 {
          background: url("../img/2.png") no-repeat center center;
          background-size: contain;
        }
        &-3 {
          background: url("../img/3.png") no-repeat center center;
          background-size: contain;
        }
      }
    }
    .two-triangle {
      a{
        &:first-child {
          right: 20px;
          top: 20px;

        }
        &:last-child {
          right: 20px;
          top: 75px;
        }

      }
    }

  }
}

.two-triangle {
  position: relative;

  a {

    position: absolute;

    &:first-child {
      -webkit-animation: pulse .9s ease-in-out infinite alternate,
      opacity-animation .9s ease-in-out reverse infinite alternate-reverse;

      -moz-animation: pulse .9s ease-in-out infinite alternate,
      opacity-animation .9s ease-in-out reverse infinite alternate-reverse;

      animation: pulse .9s ease-in-out infinite alternate,
      opacity-animation .9s ease-in-out infinite alternate-reverse;

    }
    &:last-child {
      -webkit-animation: pulse .5s ease-in-out infinite alternate,
      opacity-animation .5s ease-in-out reverse infinite alternate-reverse;

      -moz-animation: pulse .5s ease-in-out infinite alternate,
      opacity-animation .5s ease-in-out reverse infinite alternate-reverse;

      animation: pulse .5s ease-in-out infinite alternate,
      opacity-animation .5s ease-in-out infinite alternate-reverse;
    }

  }
}

// GIFTS SECTION START
.section-title {
  h1 {
    border-left: 10px $main-light-pink solid;
    font-size: 75px;
    font-family: BebasNeue, sans-serif;
    text-transform: uppercase;
    text-indent: 20px;
    margin-bottom: 30px;
  }
}

.wr-container {
  display: grid;
  width: 1150px;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 350px;
  grid-row-gap: 20px;
  grid-column-gap: 25px;
  .item {
    background-color: #3F3B3F;
    position: relative;
    display: grid;

    h3 {
      text-align: center;
      font-size: 50px;
      text-transform: uppercase;
      font-family: BebasNeue, sans-serif;
      z-index: 100;
      margin-top: 40px;
      justify-self: center;

    }

    .gift-count {
      justify-self: center;
      z-index: 100;
      text-transform: uppercase;
      font-family: Proxima, sans-serif;
      color: black;
      background: $main-light-pink;
      align-self: flex-start;
      padding: 20px 30px;
    }

  }

  .item-box-1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    img {
      position: absolute;
      bottom: 0;
      left: 275px;
    }

    h3:after {
      content: "";
      display: block;
      z-index: 10000;
      width: 2px;
      height: 37%;
      background-color: $gift-line;
      margin: 0 auto;
    }
  }

  .item-box-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    img {
      position: absolute;
      bottom: -2px;
      left: -1px;
      z-index: 2;
    }

    h3:after {
      content: "";
      display: block;
      z-index: 10000;
      width: 2px;
      height: 83%;
      background-color: $gift-line;
      margin: 0 auto;
    }
  }

  .item-box-3 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    display: grid;
    img {
      position: absolute;
      bottom: 0;
      left: 165px;
    }

    h3:after {
      content: "";
      display: block;
      z-index: 10000;
      width: 2px;
      height: 64%;
      background-color: $gift-line;
      margin: 0 auto;
    }
  }

  .item-box-4 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    img {
      position: absolute;
      bottom: 0;
      left: 75px;
    }

    h3:after {
      content: "";
      display: block;
      z-index: 10000;
      width: 2px;
      height: 64%;
      background-color: $gift-line;
      margin: 0 auto;
    }
  }
}

.gifts{
  padding-bottom: 200px;
  .two-triangle {
    a{
      &:first-child {
        left: 20px;
        top: 20px;

      }
      &:last-child {
        left: 20px;
        top: 75px;
      }

    }
  }
}
// GIFTS SECTION END

.what-i-want{

  font-family: BebasNeue, sans-serif;
  h2{
    text-align: center;
    font-size: 120px;
  }

  .section-text{
    margin-top: 60px;
    text-align: center;
    color: #626164;
    font-size: 50px;

    span{
      display: inline-block;
      transition: all ease 1s;
      &:hover{
        color: white;
        cursor: pointer;
        background-color: $main-light-pink;

      }
    }
  }
  
  .my-btn{
    width: 200px;
    margin: 70px auto 100px;
  }
}

footer{
  color: #BDBCBE;
  margin-bottom: 50px;
  font-family: Proxima, sans-serif;
  font-weight:600;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);


  .socials{
    a{
      color: $main-green;
    }

    ul{

      margin-left: 20px;
      display: inline-block;
      li{
        margin-left:20px;
        display: inline-block;
      }
    }
  }

  .dev-logo{
    justify-self: end;
  }
}