.hidden{
  display: none;
}

.uppercase{
  text-transform: uppercase;
}

.text-center{
  text-align: center;
}

.colored-text{
  color: #67d2dd;
}

.colored-background-text{
  background-color: #b2f2ee;
}

img{
  width: 100%;
}