@import "common";
@import "components/sandwich";

html {
  width: 100%;
  padding: 0;
}

section, footer {
  padding: 125px 0;

  .section-title {
    text-align: center;
    margin-bottom: 150px;
    h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 38px;
    }

    h4 {
      font-family: "Merriweather", sans-serif;
      font-size: 17px;
      color: #5e5f5f;
    }

  }
}



.main-header {
  background: url("../img/header-glass.png") 90% 100% no-repeat, #eff0f2;
  padding-top: 60px;
  min-height: 700px;

  .top-nav {
    .logotype {
      display: inline-block;
      text-align: center;
      width: 115px;
      border: 5px solid black;

      color: black;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;

      .logo-span {
        font-weight: 900;
        font-size: 20px;
      }
      &:hover {
        text-decoration: none;

      }
    }
  }
  .main-title {
    margin-top: 10%;
    line-height: 60px;

    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 45px;
    text-shadow: 1px 3px 6px;

    .colored-background-text {
      padding: 4px 20px;
    }
  }
  .contact-btn {
    display: block;
    width: 300px;
    margin: 90px auto 0;
    padding: 10px;
    border: 5px solid #777879;

    font-family: "Montserrat", sans-serif;
    letter-spacing: 3px;
    color: black;
    transition: all 1s ease;
    &:hover {
      text-decoration: none;

      background-color: #777879;
    }
  }

}

.about-us {;
  background-color: #f8fafa;

  .carousel-wrap {
    background-color: #eeeff1;
    width: 475px;
    height: 415px;
    z-index: -1;

  }

  .owl-carousel {

    .item {
      box-shadow: inset 0 0 10px grey;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      height: 480px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 40px;
      left: -25px;
      display: block;
      background-color: #eff0f2;
      width: 110%;
      height: 80%;
    }
  }

  .about-us-text {
    h3 {
      color: #3e3f3f;
      font-family: "Merriweather", sans-serif;
      font-weight: bold;
      font-size: 20px;
    }
    p + h3 {
      margin-top: 40px;
    }

    p {
      color: #869791;
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      margin-top: 20px;
    }
  }
}

.featured-works {

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;

    .feature-item {
      overflow: hidden;
    }

    img {
      height: 100%;

      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }

    .feature-item:hover img {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
}

.services {
  background-color: #f9fbfb;
  .row {
    margin-bottom: 30px;
  }

  h3 {
    font-size: 20px;
    font-family: "Merriweather", sans-serif;
    font-weight: bold;
  }

  p {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
  }

  .services-info {
    background-color: #71f6eb;
    height: 420px;
    padding: 60px 65px;
    box-shadow: 0 0 30px #63c6bb;

    h3 {
      color: rgba(0, 0, 0, 0.749);
      margin-bottom: 30px;
    }

    p {
      color: rgba(0, 0, 0, 0.749);

    }
  }

  .dh-container {
    height: 420px;

    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 7px;
  }

  .dh-overlay {
    position: absolute;
    top: -100%;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 60px 65px;

    p {
      margin-top: 20px;
    }

    a {
      font-size: 18px;
      text-transform: uppercase;
      margin-top: 30px;
      color: white;
      i {
        margin-left: 20px;
      }
      transition: color 0.5s ease;
      &:hover {
        text-decoration: none;
        color: #71f6eb;

      }
    }

  }

}

// services popup css
.modal-wrap {

  .modal-box-content {
    padding: 30px;
    img {
      margin-top: 40px;
    }
  }
}

//----

.team {
  background-color: #fff;

  .team-item {
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 450px;
    border: 4px dashed #ff7a7a0d;
    position: relative;

    &:hover {
      .info {
        display: block;
        opacity: 1;
      }
    }

    .info {
      transition: opacity 1s;

      opacity: 0;
      position: absolute;
      bottom: 20px;
      width: 90%;

      height: 250px;
      background-color: #71f6eb;

      padding: 30px 20px;
      text-align: center;

      h5.name {
        text-align: center;
        display: inline-block;
        font-family: "Merriweather", sans-serif;
        font-weight: bold;
        font-size: 20px;
      }
      span.job {
        font-family: "Merriweather", sans-serif;
        font-weight: normal;
        color: #767978;
        font-size: 15px;
      }

      p {
        margin-top: 25px;
      }

      .socials {
        text-align: left;
        padding: 0;
        list-style: none;
        margin-top: 20px;

        li {
          display: inline-block;
          margin-left: 20px;
        }
      }

      &::after {
        content: " ";
        position: absolute;
        bottom: 100%; /* At the top of the tooltip */
        left: 10%;
        margin-left: -5px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #71f6eb transparent;
      }
    }
  }
}

.interview {
  background-color: #f9fbfb;

  .photo-wrap.col-sm-5 {
    text-align: center;
    display: flex;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 40px;
      left: -20px;
      display: block;
      background-color: #ebecee;
      width: 100%;
      height: 80%;
    }
  }

  .photo {

    display: block;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 330px;
    height: 420px;
  }

  .interview-item {
    padding: 100px 30px 0;
    text-align: center;
    margin-top: 40px;
    background-color: #ebecee;
    overflow: hidden;
    height: 335px;

    h5.name {
      text-align: center;
      display: inline-block;
      font-family: "Merriweather", sans-serif;
      font-weight: bold;
      font-size: 20px;
    }
    span.job {
      font-family: "Merriweather", sans-serif;
      font-weight: normal;
      color: #767978;
      font-size: 15px;
    }

    p {
      margin-top: 15px;
    }

    .stars {
      color: #f2da3b;

    }
  }
}

.sponsors {
  text-align: center;
  .logo-wrap {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

}

.contacts {
  background: linear-gradient(
                  rgba(250, 252, 252, 1),
                  rgba(250, 252, 252, 0.4)
  ), url("../img/christmas_snow_trees-wide.jpg");
  -webkit-background-size: cover;
  background-size: cover;

  .contact-form {

    display: block;
    height: 460px;
    background-color: rgba(2, 22, 35, .7);

    padding: 20px;

    input[type=text],
    input[type=email],
    textarea {
      color: white;

      margin-top: 20px;
      display: block;
      width: 100%;

      background-color: transparent;

      outline: none;
      border: none;
      border-bottom: 2px solid #6d7981;

      &::-webkit-input-placeholder {
        color: #adadad;
      }
    }

    input[type=submit] {
      font-family: "Montserrat", sans-serif;
      outline: none;
      font-size: 18px;
      margin-top: 25px;
      background-color: #6eeee4;
      color: #3e3f3f;
      padding: 12px 20px;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      transition: all 0.6s ease;

      &:hover {
        background-color: #5cbfb5;
      }
    }
  }

  .addresses {
    height: 460px;
    background-color: rgba(2, 22, 35, .7);

    padding: 20px;
    ul {
      margin-top: 20px;
      padding: 0;
      list-style: none;

      li {
        color: white;
        font-family: "Raleway", sans-serif;
        font-size: 15px;

        a {
          color: white;
        }
      }
    }

  }
}

.footer {
  text-align: center;
  background-color: #262b2e;

  h6 {
    color: white;
    font-size: 25px;
  }

  .socials {
    padding: 0;

    li {
      display: inline-block;
      background-color: #424648;

      a {
        padding: 10px;
        font-size: 18px;
        color: #fff;
        transition: all 0.5s ease;

      }

      transition: all 0.5s ease;

      &:hover {
        background-color: #6eeee4;

        a {
          color: black;
        }
      }
    }
  }

  .copy {
    font-family: "Raleway";
    color: #777a7c;
    font-size: 17px;
  }

}

@media screen and (max-width: 768px) {

  section, footer {

    padding: 70px 0;

    .section-title {
      margin-bottom: 70px;
      h2 {
        font-size: 40px;
      }

      h4 {
        font-size: 16px;
      }
    }
  }

  .services {

    .services-info {
      height: auto;
      padding: 40px 45px;
    }
  }

  .featured-works {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: 576px) {
  html {
    width: 100% !important;
  }

  section, footer {

    padding: 50px 0;

    .section-title {
      margin-bottom: 50px;
      h2 {
        font-size: 30px;
      }

      h4 {
        font-size: 14px;
      }
    }
  }

  .main-header {
    .main-title {
      font-size: 30px;
      line-height: 50px;
    }
    .contact-btn {
      margin-top: 20px;
    }
  }

  .services {

    .services-info {
      padding: 30px 35px;
    }
  }

  .featured-works {
    .grid {
      grid-template-columns: 1fr;
    }
  }

  .interview {
    .interview-item {
      padding: 50px 30px 20px;
    }
  }
}




